* {
  font-family: "RobotoMono Nerd Font";
  font-size: 14px;
  --animation-speed: 0.4s;
  --autocomplete-popup-highlight-background: #3B4252;
  --autocomplete-popup-highlight-color: #88C0D0;
  --urlbar-popup-action-color: #88C0D0;
  --lwt-toolbar-field-highlight: #3B4252;
  --lwt-toolbar-vertical-separator: #2F343F;
  --lwt-toolbar-field-background-color: #2F343F;
  --lwt-toolbar-field-focus: #2F343F;
  --toolbar-bgcolor: #2F343F;
  --toolbarbutton-hover-background: #3B4252;
  --tabs-border-color: #2F343F;
  --tabs-navbar-shadow-size: 0px;
  --chrome-content-separator-color: #2F343F;
  --arrowpanel-background: #2F343F;
  --arrowpanel-dimmed: #2F343F;
}
:root[lwt-toolbar-field-brighttext] #urlbar-search-mode-indicator {
  background-color: #88C0D0;
}

#identity-box {
    max-width: 5px;
}

#identity-box[pageproxystate="valid"].notSecureText, #identity-box[pageproxystate="valid"].chromeUI, #identity-box[pageproxystate="valid"].extensionPage, #urlbar-label-box {
    border-image-slice: 0;
}

#urlbar-background, #searchbar {
    border: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0px 0px rgba(0,0,0,.05);
}

#TabsToolbar {
    visibility: collapse !important;
}

#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }

/* Compact tab layout */
:root { --tab-height: 20px !important; }
.tab { height: 20px !important; }
/* Shrink space between pinned tabs and tab bar, only when pins are present */
#tabbar[style*="margin"] { margin-top: 20px !important; }

/* Show title of unread tabs with red font */
.tab.unread .label {
  color: red !important;
}

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: " ";
}

#tabbar .after-tabs {
  display: none !important;
}

/* #sidebar-header is hidden by default, change "none" to "inherit" to restore it. */
#sidebar-header {
  display: none !important;
}

/* #sidebar-splitter styles the divider between the sidebar and the rest of the browser. */
#sidebar-splitter {
  display: none;
}


#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}

#urlbar-background {
  border: none !important
}

#webrtcIndicator {
  display: none;
}


/* menubar, */
/* menubutton, */
/* menulist, */
/* menu, */
/* menuitem, */
/* textbox, */
/* toolbar, */
/* tab, */
/* tree, */
/* .tree-rows { */
/* } */


/* #nav-bar:not([customizing]) { */
/*   visibility: visible; */
/*   margin-top: -41px; */
/*   transition-delay: 0s; */
/*   filter: alpha(opacity=0); */
/*   opacity: 0; */
/*   transition: visibility, ease 0.1s, margin-top, ease 0.1s, opacity, ease 0.1s, */
/*     rotate, ease 0.1s !important; */
/* } */

/* :root:not([customizing]) :hover > #nav-bar, */
/* #nav-bar:focus-within, */
/* #urlbar[focused="true"], */
/* #identity-box[open="true"], */
/* #navigator-toolbox:hover > #nav-bar:not([customizing]), */
/* #toolbar-menubar:not([inactive="true"]) ~ #nav-bar:not([customizing]) { */
/*   visibility: visible; */

/*   margin-top: 0px; */
/*   filter: alpha(opacity=100); */
/*   opacity: 100; */
/*   margin-bottom: 0px; */
/* } */
/* #PersonalToolbar { */
/*   margin-top: 0px; */
/* } */
/* #nav-bar .toolbarbutton-1[open="true"] { */
/*   visibility: visible; */
/*   opacity: 100; */
/* } */

/* :-moz-any(#content, #appcontent) browser { */
/*   margin-right: 0px !important; */
/*   overflow-y: scroll; */
/*   margin-bottom: 0px !important; */
/*   overflow-x: scroll; */
/* } */
