* {
  font-family: "RobotoMono Nerd Font";
  font-size: 14px;
  --animation-speed: 0.2s;
  --autocomplete-popup-highlight-background: #3B4252;
  --autocomplete-popup-highlight-color: #88C0D0;
  --urlbar-popup-action-color: #88C0D0;
  --lwt-toolbar-field-highlight: #5E758D;
  --lwt-toolbar-vertical-separator: #2F343F;
  --toolbar-vertical-separator: #2F343F;
  --lwt-toolbar-field-background-color: #2F343F;
  --toolbar-field-background-color: #2F343F;
  --lwt-toolbar-field-focus: #2F343F;
  --toolbar-field-focus: #2F343F;
  --toolbar-field-focus-background-color: #2F343F;
  --toolbar-field-background-color: #2F343F;
  --toolbar-bgcolor: #2F343F;
  --toolbarbutton-hover-background: #3B4252;
  --tabs-border-color: #2F343F;
  --tabs-navbar-shadow-size: 0px;
  --chrome-content-separator-color: #2F343F;
  --arrowpanel-background: #2F343F;
  --arrowpanel-dimmed: #2F343F;
}
:root[lwt-toolbar-field-brighttext] #urlbar-search-mode-indicator {
  background-color: #88C0D0;
}

#urlbar-background, #searchbar {
    border: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0px 0px rgba(0,0,0,.05);
}

#TabsToolbar {
    visibility: collapse !important;
}

#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }

/* Compact tab layout */
:root { --tab-height: 20px !important; }
.tab { height: 20px !important; }
/* Shrink space between pinned tabs and tab bar, only when pins are present */
#tabbar[style*="margin"] { margin-top: 20px !important; }

/* Show title of unread tabs with red font */
.tab.unread .label {
  color: red !important;
}

/* Add private browsing indicator per tab */
.tab.private-browsing .label:before {
  content: " ";
}

#tabbar .after-tabs {
  display: none !important;
}

/* #sidebar-header is hidden by default, change "none" to "inherit" to restore it. */
#sidebar-header {
  display: none !important;
}

/* #sidebar-splitter styles the divider between the sidebar and the rest of the browser. */
#sidebar-splitter {
  display: none;
}

#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}

#urlbar-background {
  border: none !important
}

#webrtcIndicator {
  display: none;
}

#sidebar-box {
  max-width: 40% !important;
  min-width: 300px !important;
}

.tab-icon-image {
  height: 30px !important;
  width: 30px !important;
}
