# Don't print a new line at the start of the prompt
add_newline = false

format = """
[$directory$git_branch$git_status $character](bold fg:cyan)
"""

[character]
success_symbol = "[](bold blue)"
error_symbol = "[](bold red)"

[directory]
truncation_length=3
truncate_to_repo=false
read_only=" "
truncation_symbol=" "

[git_branch]
format="[$symbol$branch]($style)"
symbol=" "
style="bold fg:green"

[git_status]
format = '( [$all_status$ahead_behind]($style))'
style = "green bold"
ahead = " ${count}"
staged = "[ $count ](fg:green bold)"
deleted = "[ $count ](fg:red bold)"
diverged = " ${ahead_count} ${behind_count}"
behind = " ${count}"
modified = "[󰓏 $count ](fg:yellow bold)"
untracked = "[󰋗 $count ](fg:blue bold)"
stashed = "[ $count ](fg:#e2c7ef bold)"
